@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One|VT323|Oswald");
body {
  background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/retina_wood.png");
}

.bigCircle {
  position: relative;
  margin: 10% auto;
  background-color: #333;
  height: 500px;
  width: 500px;
  border-radius: 50%;
}
.bigCircle .buttons {
  position: absolute;
  height: 200px;
  width: 200px;
  margin: 7% 7% 7% 7%;
  cursor: pointer;
}
.bigCircle #b1 {
  background-color: #00a74a;
  z-index: 1;
  left: 0;
  border-radius: 200px 0 0 0;
}
.bigCircle #b2 {
  background-color: #9f0f17;
  z-index: 1;
  right: 0;
  border-radius: 0 200px 0 0;
}
.bigCircle #b3 {
  background-color: #cca707;
  z-index: 1;
  bottom: 0;
  border-radius: 0 0 0 200px;
}
.bigCircle #b4 {
  background-color: #094a8f;
  z-index: 1;
  bottom: 0;
  right: 0;
  border-radius: 0 0 200px 0;
}

.smallCircle {
  position: absolute;
  background-color: #ECE7EE;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 25% 25%;
  border: 12px solid #333;
  z-index: 7;
}
.smallCircle .tm {
  position: absolute;
  margin: 20% 17%;
  font-family: 'Alfa Slab One', cursive;
  color: #222;
  font-size: 3.2em;
}
.smallCircle .row1 {
  display: inline-block;
  font-family: "Alfa Slab One", cursive;
  color: #222;
  font-size: 15px;
  width: 20px;
  height: 50px;
  text-align: center;
  margin: 50% 10%;
}
.smallCircle .row1 #start {
  width: 30px;
  height: 30px;
  position: relative;
  background-color: red;
  border-radius: 100%;
  border: 4px solid #444;
  box-shadow: 0px 2px 3px #222;
  margin: auto;
  left: 5px;
  cursor: pointer;
  pointer-events: auto;
}
.smallCircle .row1 #count {
  height: 30px;
  width: 50px;
  position: relative;
  color: #DC0D29;
  font-size: 15px;
  left: -1px;
  padding: 0px;
  background-color: #32050C;
  border: 4px solid #222;
  border-radius: 10px;
  margin: auto;
}
.smallCircle .row1 #strict {
  width: 30px;
  height: 30px;
  position: relative;
  background-color: yellow;
  border-radius: 100%;
  border: 4px solid #444;
  box-shadow: 0px 2px 3px #222;
  margin: auto;
  left: 5px;
  cursor: pointer;
  pointer-events: auto;
}
.smallCircle .row1 #strict:active {
  box-shadow: 0 1px 1px #292929;
  top: -4px;
}
.smallCircle .row1 #led {
  width: 10px;
  height: 10px;
  background-color: #32050C;
  border-radius: 100%;
  position: absolute;
  left: 135px;
  right: 0;
  margin: auto;
  border: 2px solid #222;
  top: 100px;
}

.row2 {
  position: absolute;
  width: 100px;
  height: 50px;
  text-align: center;
  top: 180px;
  left: 60px;
  z-index: -1;
}
.row2 p {
  vertical-align: middle;
  display: inline-block;
  color: #222;
  font-family: "Oswald", Arial, sans;
  font-size: 15px;
  text-align: center;
  position: relative;
}

#switch {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  height: 20px;
  width: 40px;
  background-color: black;
  cursor: pointer;
  z-index: -1;
}
#switch #on {
  position: relative;
  background-color: #3193DE;
  height: 15px;
  width: 15px;
  border-radius: 4px;
  top: 2px;
  left: 3px;
}

footer {
  position: relative;
  text-align: center;
  bottom: 100px;
}
